:root{
    --font-drk-600: #242424;
    --gold: #F1C644;
    --grey: #828282;
    --light-grey: #E5E5E5;
  }
.left-sidebar-container{
    display: flex;
    max-width: 275px;
    height: 100vh;
    padding: 15px;
    flex-direction: column;
    align-items: center;
    /* gap: 10px; */
    /* flex-shrink: 0; */
    position: sticky;
    /* top: 10px; */
    /* bottom: 20px; */
    min-width: 250px;
    width: 100%;
    border-radius: 15px;
    background: #FFF;
    margin: 0 20px 20px 20px;
    /* overflow-y: scroll; */
    /* overflow-x: hidden; */
    float: left;
}
.sidebar-avatar .avatar{
    width: 73px;
    height: 73px;
}
.sidebar-avatar .rep-avatar{
    z-index: 10;
    width: 74px;
    height: 74px;
}
.sidebar-avatar .company-logo{
    z-index: 1;
    width: 72px;
    height: 72px;
}
.left-sidebar-container .css-1ytufz-MuiAvatarGroup-root .MuiAvatar-root {
    margin-left: -30px !important;
}
.left-sidebar-container .username{
    color: var(--grey);
    font-size: 19px;
    font-weight: 400;
    text-align: left;
    margin-left: -30px;
    margin-top: 11px;
}

.avatar-username{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.side-icon{
    width: 20px;
    color: #000 !important;
    display: flex;
    max-width: 260x !important;
    padding: 10px;
    align-items: center;
    gap:  16px;
    border-radius: 10px;
    background: none !important;
    justify-content: left !important;
    text-transform: capitalize !important;
    width: 100% !important;
    min-width: 180px;
    box-shadow: none !important;
    font-weight: 500 !important; 
}
.side-icon *{
    font-weight: 500 !important; 
}
.left-side-bar-active-button{
    color: var(--gold) !important;
    background: var(--font-drk-600) !important;
}
.vertical-tab-container{
    width: 100% !important;
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* gap: 5px; */
    align-items: center;
    border-radius: 15px;
    background: #F6F6F6;
    max-width: 275px;
    margin: 20px;
    padding: 16px;
}
.company-list-card {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-bottom: 8px;
    max-width: 189px;
    width: 100%;
    min-width: 180px;
}
.company-list-card img {
    width: 58px;
    height: 58px;
    border-radius: 50%;
}
.company-list-card .card-text {
    display: flex;
    flex-direction: column;
    width: 189px;
}
.company-list-card .card-text h5{
    color: #000;
    font-size: 12px;
    font-weight: 700;
    text-transform: capitalize;
    margin-bottom: 5px;
}
.company-list-card .card-text p{
    color: #000;
    font-size: 9px;
    font-weight: 400;
    text-transform: capitalize;
}
.company-list-container hr{
    color: #E5E5E5;
    border: 0.5px solid #E5E5E5;
}

.left-sidebar-companies h3{margin-bottom: 20px;}