.right-sidebar-container{
    display: flex;
    max-width: 300px;
    height: 100vh;
    padding: 0 13px 20px 20px;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    position: sticky;
    top: 0px;
    bottom: 20px;
    min-width: 250px;
    width: 100%;
    border-radius: 15px;
    margin: 0 20px 20px 20px;
    overflow-y: scroll;
    overflow-x: hidden;
    float: right;
}
.top-service-card{
    padding: 15px;
    border-radius: 15px;
    background: #FFF;
    width: 100%;
}

.top-service-inner-card{
    background: #F9F9F9;
}
.top-service-card .avatar{
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    border-radius: 50%;
}
.company-logo-name-view img{
    width: 45px;
    height: 45px;
    flex-shrink: 0;
    border-radius: 50%;
}

.top-service-card  .css-1706lqz-MuiAvatar-root-MuiAvatarGroup-avatar {
    width: 20px;
    height: 20px;
    font-size: 10px;
}

.top-service-card h3{
    margin-top: 27px;
}
.top-service-card .service-title svg{
    width: 44px;
    height: 44px;
}
.top-service-card .service-title h4{
    width: 200px;
    color: var(--font-drk-600);
    font-size: 16px;
    font-weight: 600;
}
.top-service-card .service-title{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.top-service-card .about-service{
    margin-top: 15px;
    margin-bottom: 15px;
    color: var(--font-drk-600);
    font-size: 12px;
    font-weight: 400;
    /* line-height: 20px; */
}
.top-service-card .company-logo-name-view{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.top-service-card .company-logo-name{
    display: flex;
    align-items: center;
}
.top-service-card .company-logo-name img{
    margin-right: 9.16px;
}
.top-service-card .company-logo-name span{
    color: var(--font-drk-600);
    font-size: 12px;
    font-weight: 600;
    text-transform: capitalize;
}
.right-sidebar-suggested-container{
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.03);
    margin-top: 34px;
    max-width: 300px;
    width: 100% !important;
    padding: 20px;
}
.name-verify{
    display: flex;
    align-items: center;
    gap: 4px;
}
.name-verify h5{
    color: var(--mid-grey);
    font-size: 14px !important;
    font-weight: 700 !important;
    
}
.name-verify svg{
    width: 20px !important;
    height: 20px !important;
    fill: var(--grey);
}
.suggested-user-card p{
    color: var(--grey) !important;
    font-size: 14px !important;
    font-weight: 400 !important;
}
.right-sidebar-suggested-container h3{
    margin-bottom: 22px;
}