@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-drk-600: #242424;
  --gold: #f1c644;
  --grey: #828282;
  --light-grey: #e5e5e5;
  --mid-grey: #373737;
}

/* Hide scrollbar for Webkit browsers */
.scrollbar-hidden::-webkit-scrollbar , body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for Firefox */
.scrollbar-hidden {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.skeleton {
  background: linear-gradient(
    90deg,
    rgba(230, 230, 230, 1) 25%,
    rgba(245, 245, 245, 1) 50%,
    rgba(230, 230, 230, 1) 75%
  );
  background-size: 200% 100%;
  animation: skeleton-loading 2s infinite;
}

@keyframes skeleton-loading {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  background-color: inherit !important;
  -webkit-box-shadow: 0 0 0 1000px inherit inset !important;
  color: inherit !important;
  transition: background-color 5000s ease-in-out 0s; /* Prevents flashing effect */
}


body {
  overflow-x: hidden;
  scroll-behavior: smooth;
  font-family: Nunito, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #F7F7F7 !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  text-decoration-line: none !important;
  color: inherit !important;
  transition: all;
  transition-duration: 350ms;
}

.swiper-pagination-bullet-active {
     background-color: #f1c644 !important;
}



.page-container {
  display: flex;
}
.feed-page-container {
  margin-top: 20px;
}

.feed-page-container .css-hip9hq-MuiPaper-root-MuiAppBar-root {
  box-shadow: none !important;
  background-color: #ffffff00 !important;
  color: #000;
}
.header-text {
  color: #000;
  font-size: 30px !important;
  font-weight: 600 !important;
  text-transform: capitalize;
}
.header-search {
  width: 358px !important;
  flex-shrink: 0;
  border-radius: 100px !important;
  background: #fff !important;
}
.btn-primary {
  display: flex;
  padding: 5px 34px;
  justify-content: center;
  align-items: center;
  border-radius: 50px !important;
  background: var(--gold) !important;
  color: #000 !important;
  text-transform: capitalize !important;
}

