@media (max-width: 576.98px){
    .passport{
        width: 10px;
        margin-left: 35px;
    }
    .message{
        margin-left: -35%;
    }
    .sidebar{
        width: 180px;
    }
    .small{
        width: 40%;
    }
    /* .navcon .navcontwo{
        display: none;
    } */
    .search{
        width: 160px !important;
    }
  }